#banner {
  background-image: url(../images/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  position: relative;
}
#banner .text {
  color: #fff;
  position: absolute;
  top: 120px;
  right: 509px;
}
#banner .text > p {
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
#banner .text button {
  display: flex;
  border: 1px solid #fff;
  padding: 12px 26px;
}
#banner .text button:hover {
  background-color: var(--main-color);
}
#banner .text button p {
  margin-right: 20px;
  color: #fff;
  font-size: 18px;
}
#banner .text button img {
  transform: translateY(4px);
}