/* banner//////////////////////////////////////////// */
#banner {position:relative; width:100%; height:26.25rem; background-image:url(../images/portfolio_banner.png); background-repeat:no-repeat; background-position:center;}
#banner > h2 {position:absolute; top:50%; left:50%; font-weight:700; font-size:2.25rem; color:#fff; transform: translate(-50%, -50%);}


/* portfolio//////////////////////////////////////////// */
#portfolio {padding-bottom:16.16%; text-align:center;}
#portfolio > div > .text {position:relative; margin:6.25rem 0 4.625rem 0; color:var(--font-color);}
#portfolio > div > .text > p:nth-child(1) {margin-bottom:1.25rem; font-weight:500; font-size:1.563rem; line-height:2.25rem; letter-spacing:-0.02em;}
#portfolio > div > .text > p:nth-child(1):before {content:""; position:absolute; top:2.5rem; left:50%; width:4rem; height:0.125rem; background:var(--main-color); transform:translateX(-50%);}
#portfolio > div > .text > p:nth-child(3) {margin:1.25rem 0 0.938rem 0; font-size:1.563rem; line-height:2.25rem; letter-spacing:-0.02em;}
#portfolio > div > .text > p:nth-child(4) {font-weight:700; font-size:2.25rem; letter-spacing:-0.02em;}
#portfolio > div > .text > p:nth-child(4) > span {color: var(--main-color);}
#portfolio > div > ul#title {display:flex; justify-content:space-between;}
#portfolio > div > ul#title > li {width:20%; height:5rem; line-height:5rem; color:#a4a4a4; background-color:#f1f1f1; border:0.063rem solid #dfdfdf; cursor:pointer;}
#portfolio > div >  ul#title > li.hover,
#portfolio > div >  ul#title > li:hover {color:#fff; background-color:var(--main-color); transition:all .2s;}
#portfolio > div > .search {margin-top:3.438rem; padding-bottom:2.625rem; text-align:right; border-bottom:0.063rem solid #A4A4A4;}
#portfolio > div > .search > select {padding-left:1.125rem; width:6.25rem; height:2.813rem; font-weight:700; border:0.063rem solid #dfdfdf;}
#portfolio > div > .search > input[type=text] {padding:0 0 0 1.125rem; width:14.688rem; height:2.813rem; border:0.063rem solid #dfdfdf;}
#portfolio > div > .search > input[type=text]::placeholder {font-weight:500; color:#dfdfdf;}
#portfolio > div > .search > input[type=button] {padding:0; width:6.25rem; height:2.813rem; font-weight:500; color:#fff; border:none; background-color:var(--main-color); transform:translateY(0.125rem);}
#portfolio > div > .contents {display:flex; flex-wrap:wrap; position:relative; margin-top:1.063rem;}
#portfolio > div > .contents > .contentsBox {display:none; margin:3.75rem 1% 0; width:22.96%;}
#portfolio > div > .contents > .contentsBox > .box {position:relative; height:10.938rem; border:0.063rem solid #dfdfdf; cursor:pointer;}
#portfolio > div > .contents > .contentsBox > .box::before {content:""; display:block; position:absolute; top:50%; left:50%; width:5.25rem; height:5.25rem; background-image:url(../images/play.png); background-repeat:no-repeat; background-size:cover; transform:translate(-50%, -50%); transition: all .2s; opacity:0; z-index:100;}
#portfolio > div > .contents > .contentsBox > .box > span {position:absolute; top:50%; left:50%; width:80%; transform:translate(-50%, -50%); transition:all .2s;}
#portfolio > div > .contents > .contentsBox > .box:hover > img {opacity:.2;}
#portfolio > div > .contents > .contentsBox > .box:hover::before {opacity:1;}
#portfolio > div > .contents > .contentsBox > h4 {margin-top:1.625rem; text-align:left; font-weight:600; font-size:1.375rem; line-height:1.625rem;}
#portfolio > div > .contents > .contentsBox > p {margin-top:0.625rem; text-align:left; font-size:0.938rem; color:#a4a4a4;}
#portfolio > div > .contents > .contentsBox > .audioOverlay {position:fixed; top:0; left:0; bottom:0; right:0; background:rgba(0, 0, 0, 0.4); z-index:999;}
#portfolio > div > .contents > .contentsBox > .audioOverlay > .audioBox {position:absolute; top:30%; left:50%; width:43.75rem; height:20rem; background-color:#fff; transform:translateX(-50%); z-index:200;}
#portfolio > div > .contents > .contentsBox > .audioOverlay > .audioBox > .audioText {display:flex; justify-content:center; align-items:center; margin:5.25rem 0 2.313rem;}
#portfolio > div > .contents > .contentsBox > .audioOverlay > .audioBox > .audioText > span {width:12.813rem; margin-right:4.688rem;}
#portfolio > div > .contents > .contentsBox > .audioOverlay > .audioBox > .audioText > h4 {margin-top:0; line-height:1.625rem;}
#portfolio > div > .contents > .contentsBox > .audioOverlay > .audioBox > audio {width:80%;}
#portfolio > div > .contents > .contentsBox > .audioOverlay > .audioBox > .exit {position:absolute; top:1.438rem; right:1.531rem; width:1.031rem; cursor:pointer;}
.show {display:block !important;}
.hide {display:none;}



@media screen and (max-width:767px) {
  #portfolio > div > ul#title {flex-wrap:wrap; justify-content:flex-start;}
  #portfolio > div > ul#title > li {width:33%;}
  /* #portfolio > div > ul#title > li:nth-child(n+4) {width:49.5%;} */
  #portfolio > div > .contents > .contentsBox {width:31%;}
  #portfolio > div > .contents > .contentsBox > h4 {font-size:1rem;}
}