#production {
  margin-top: 180px;
  text-align: center;
}
#production h2 {
  font-size: 33px;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 72px;
}
#production ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#production ul li {
  flex-direction: start;
}